.login-header{
    display: flex;
    font-family: 'Raleway';
   
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}
.public-discussion{
    display: flex;
    background-color: aliceblue;
    color: black;
    padding: 14px 32px;
    border-radius: 32px;
    cursor: pointer;
    
}

.logo{
    font-weight: 800;
    font-size: 45px;
}
.message{
    padding-left: 5px;
}